
body {
   font-family: 'Montserrat', sans-serif;
}

.logo {
   /* Vector */
margin: 1% 0 0 3%;
width: 35px;
}

footer {
   text-align: center;
   margin:25% 0 0; 

}

.link-linkedin {
width: 40px;
margin: 15px 15px 7px 0;
}

.link {   
   width: 35px;
   margin: 15px 15px 10px 0;
}

    


